.dashboard-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  background-color: #000; 
}

.dashboard-main-content {
  flex-grow: 1; 
  
  background-image: url('./assets/galaxy.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
}

.content-wrapper {
  width: 100%;
  max-width: 950px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url('./assets/image.png');
  background-size: cover;
  background-position: center;
  background-color: #ffffff;
  padding: 2rem 2rem 2rem; 
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.company-logo {
  width: 250px;
  height: auto;
}

.lista-tarefas-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.sem-tarefas-aviso {
  grid-column: 1 / -1;
  text-align: center;
  color: #888;
  padding: 2rem;
  font-style: italic;
}

.add-task-button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #696969;
  color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.add-task-button:hover {
  background-color: #000000;
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}